@{
    ViewBag.Title = "Contact";
}

<div class="section section-basic">
    <div class="container">
        <div class="row">
            <h2 class="text-center">
                Feel free to contact us
            </h2>
        </div>
            <div class="col-sm-6">

                <div class="well">
                    <form lpformnum="2">
                        <legend><i class="material-icons" style="font-size: 36px; color:#f44336">location_on</i>&nbsp;Our address</legend>
                        <address>
                            <strong>Local Theatre Company</strong><br>
                            94 Princes Street<br>
                            Glasgow, G14 2PL<br>
                            <abbr title="Phone">
                                P:
                            </abbr>
                            078 7233 1277
                        </address>
                        <address>
                            <strong>E-mail us</strong><br>
                            <a href="mailto:#">contact@ltc.co.uk</a>
                        </address>

                        <div class="content">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">person</i>
                                </span>
                                
                                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">

                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">email</i>
                                </span>
                                <input id="name" name="name" type="text" placeholder="Your email" class="form-control">
                            </div>
                            
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">message</i>
                                </span>
                                <textarea class="form-control" placeholder="Please enter your message here..." rows="3"></textarea>
                            </div>
                            
                            <div class="footer">
                                <div class="footer text-center">
                                    <button type="button" class="btn btn-primary btn-lg">Submit</button>
                                </div>
                            </div>
                            
                        </div>

                    </form>

                </div>
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d143322.8757045413!2d-4.372885332973685!3d55.85538026032615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488815562056ceeb%3A0x71e683b805ef511e!2sGlasgow!5e0!3m2!1sen!2suk!4v1507718091245" width="540" height="601" frameborder="0" style="border: 0" allowfullscreen></iframe>
            </div>
        </div>
    </div>


