@{
    ViewBag.Title = "Home Page";
}


<div class="section section-basic">

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">
            <strong>
            Local Theatre Company
            </strong>
        </h2>
        
        <h5 class="description text-justify"><b>Local Theatre Company was established as a theatre club in 1979 (going fully public in 1989), rising from the ashes of the destroyed Close Theatre, based at the Citizens' Theatre, Glasgow. Originally based in the Victorian Bar of the Tron church building whilst the Kirk itself was transformed into the auditorium, Local Theatre Company has become a leading player in Scottish theatre. In 1984 Faynia Williams became the Tron’s first Artistic Director and, with her husband Richard Crane acting as dramaturg, wrote the first Local Theatre Company Company script, Burke and Hare.</b></h5>
        
        <div class="img-blog-margin center-block" style="max-width: 700px">
            <img src="/images/building.jpg" alt="Local Theatre Company" class="img-responsive center-block img-thumbnail">
            <br>
        </div>

        <p class="text-justify">In 1986, Michael Boyd took over the reigns to begin a decade-long tenure as Artistic Director, establishing the fledgling theatre company as a powerhouse of both new writing and dynamic productions of classic texts, making full use of available Scottish talent. Leading artists to emerge from this period include Alan Cumming, Forbes Masson, Peter Mullan, Craig Ferguson and Siobhan Redmond, as well as musician Craig Armstrong (Baz Luhrmann's Romeo and Juliet and Moulin Rouge).</p>
        
        <p class="text-justify">Among the highlights of Michael Boyd's tenure at the Tron were a landmark production of Macbeth (starring Iain Glen), an award-winning adaptation of Janice Galloway's The Trick is to Keep Breathing (Glasgow, London, Toronto), the introduction of Quebec playwright Michel Tremblay to Scotland (The Guid Sisters), and a string of popular and unique Glaswegian Christmas shows.</p>
        
        <p class="text-justify">From 1996 to 1999 the company was led by Irina Brown and productions included David Greig's award-winning The Cosmonaut's Last Message to the Woman He Once Loved in the Former Soviet Union, as well as a dynamic international programme.</p>
        
        <p class="text-justify">During 2000 the Local Theatre Company Company presented two world premieres of plays by Scottish writers: Our Bad Magnet by Douglas Maxwell and Further than the Furthest Thing by Zinnie Harris, a co-production between the Local Theatre Company Company and the Royal National Theatre. The production premiered at the Edinburgh International Fringe Festival 2000 to universal critical acclaim, winning four major awards before a London run at the National Theatre, a subsequent transfer to the Tricycle Theatre, London and a tour of South Africa.</p>
        
        <p class="text-justify">In 2002 Neil Murray was appointed Director of Tron, serving as Artistic Producer for the Company. Shows produced in this period include Iain Heggie's Love Freaks, Possible Worlds by John Mighton (as the centrepiece of the Canadian Six Stages Festival), Forbes Masson's Jack and the Beanstalk and Cinderella and Chris Hannan's Shining Souls in a co-production with v.amp productions which was awarded Best Production in the Critics Awards for Theatre In Scotland in 2003. </p>
        
        <p class="text-justify">Other notable productions include the world premiere of David Greig's San Diego and Anthony Neilson's The Wonderful World of Dissocia in 2004, this time in a collaboration with Edinburgh International Festival and the Theatre Royal, Plymouth. The production went on to win 5 out of 10 awards in the 2005 Critics' Awards for Theatre in Scotland. The production was also revived in 2007 in conjunction with the National Theatre of Scotland, touring the UK including performances at the Royal Court Theatre, London.  </p>
        
        <p class="text-justify">Between May 2005 and May 2006 the post of Director of the Local Theatre Company was held by Ali Curran, formerly of the Peacock Theatre at the Abbey Theatre in Dublin. The Tron produced three new works during this time: the premiere of Ubu the King , a co-production with Dundee Repertory Theatre, the Barbcian, Old Vic and Bite:05, adapted by David Greig and directed by Dominic Hill; the European premiere of John Mighton's latest work, Half Life, co-produced with Perth Theatre and Canadian-based Necessary Angel; our annual Christmas panto, written by Forbes Masson, Weans in the Wood; and a brilliantly innovative production of Shakespeare's The Tempest.</p>
        
        <p class="text-justify">Following Ali Curran, Gregory Thomson led the company between 2007 and 2008, presenting the world premiere of The Patriot by Olivier-award winning writer Grae Cleugh, an innovative production of Antigone, directed by David Levin, an adaptation of Louise Welsh's novel Tamburlaine Must Die as part of Glasgay! in 2007 as well as the co-production with Borderline Theatre Company of D.C. Jackson's The Wall.  </p>

    </div>
</div>
</div>